<!-- footer starts -->
{%load static%}
<link rel="stylesheet" href="{% static 'style.css'%}" />
<section class="footer">
  <div class="box-container">
    <div class="box">
      <a href="#" class="logo"> <i class="fas fa-tree"></i>TeachEco</a>
      <p>write something here!</p>
    </div>

    <div class="box">
      <h3 class="share">share</h3>
      <a href="https://facebook.com">facebook</a>
      <a href="https://twitter.com">twitter</a>
      <a href="https://instagram.com">instagram</a>
      <a href="https://github.com">github</a>
    </div>

    <div class="box">
      <h3 class="letter">newsletter</h3>
      <form action="">
        <input type="email" placeholder="enter your email" />
        <button type="submit" class="fas fa-paper-plane"></button>
      </form>
    </div>
  </div>

  <h1 class="credit">
    created by
    <span> TeachEco Inc</span>
    | Copyright, all rights reserved.
  </h1>
</section>
