<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EcoTeach</title>
        {% load static %}
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
            integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
            crossorigin="anonymous">

        <link rel="stylesheet" href="Css/style.css">
        <link rel="stylesheet" href="Vendors/bootstrap.css">
        <link rel="stylesheet" href="Vendors/Slick/slick.css">
    </head>
    <body> 
        <section class="challenge-all">
            <div class="top-challenge">
                <div class="back-top"></div>
                <h1>Challenges
                </h1>
            </div>
            <div class="container">
                <div class="banner-challenge mt-5" style="text-align: center;">
                    <h4 class="mb-3 ">Do you want to collect lots of points for achivements?
                        <p>
                            Let's join our challenges.
                        </p>
                    </h4>
                    <div class="anim-top">
                        <h1>
                            <div class="line">
                                <div class="an"></div>
                            </div>
                            All Challenges
                            <div class="line">
                                <div class="an"></div>
                            </div>
                        </h1>
                    </div>

                </div>
                <div class="challenge-main">
                    <div class="row">
                        <div class="horizontal">
                            <div class="vertical">
                                <div class=" single-challenge">
                                    <a href="#">
                                        <img src="img/7e65192bf04318985a7f95e462ccd66d.png" alt="">
                                        <div class="cover-challenge">
                                            <h1>Planting Trees</h1>
                                        </div>
                                        <div class="point-challenge">
                                            <img src={ % static "img/Gold_Seal_with_Ribbon_PNG_Clipart_Image.png" % } alt="">
                                            <p>
                                                250 <img src={% static "media/aaa17.png" %} alt="">
                                            </p>
                                        </div>
                                        <div class="info-challenge">
                                            <img src={% static "media/aaa18.png" %} alt="">
    
                                            <div class="round-info">
                                                <div class="all-info">
                                                    <h3>Planting Trees</h3>
                                                    <p>
                                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente, in! Sit nisi
                                                        illo, sapiente magni totam rerum voluptatum unde a esse quia ducimus dolores
                                                        asperiores repudiandae velit minima atque tempore.</p>
    
                                                </div>
                                            </div>
                                        </div>
    
                                    </a>
    
                                </div>
                                <div class="single-challenge">
                                    <a href="#">
                                        <img src={ % static"img/7e65192bf04318985a7f95e462ccd66d.png"% }alt="">
                                        <div class="cover-challenge">
                                            <h1>Planting Trees</h1>
                                        </div>
                                        <div class="point-challenge">
                                            <img src={ % static "img/Gold_Seal_with_Ribbon_PNG_Clipart_Image.png" % } alt="">
                                            <p>
                                                250<img src={% static "media/aaa17.png" %} alt="">
                                            </p>
                                        </div>
                                        <div class="info-challenge">
                                            <img src={% static "media/aaa18.png" %} alt="">
    
                                            <div class="round-info">
                                                <div class="all-info">
                                                    <h3>Planting Trees</h3>
                                                    <p>
                                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente, in! Sit nisi
                                                        illo, sapiente magni totam rerum voluptatum unde a esse quia ducimus dolores
                                                        asperiores repudiandae velit minima atque tempore.</p>
    
                                                </div>
                                            </div>
                                        </div>
    
                                    </a>
    
                                </div>
                                <div class="single-challenge">
                                    <a href="#">
                                        <img src={ % static"img/7e65192bf04318985a7f95e462ccd66d.png" %} alt="">
                                        <div class="cover-challenge">
                                            <h1>Planting Trees</h1>
                                        </div>
                                        <div class="point-challenge">
                                            <img src={ % static"img/Gold_Seal_with_Ribbon_PNG_Clipart_Image.png" % } alt="">
                                            <p>
                                                250<img src={% static "media/aaa17.png" %} alt="">
                                            </p>
                                        </div>
                                        <div class="info-challenge">
                                            <img src={% static "media/aaa18.png" %} alt="">
    
                                            <div class="round-info">
                                                <div class="all-info">
                                                    <h3>Planting Trees</h3>
                                                    <p>
                                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente, in! Sit nisi
                                                        illo, sapiente magni totam rerum voluptatum unde a esse quia ducimus dolores
                                                        asperiores repudiandae velit minima atque tempore.</p>
    
                                                </div>
                                            </div>
                                        </div>
    
                                    </a>
    
                                </div>
    
                                <div class="single-challenge">
                                    <a href="#">
                                        <img src={% static "img/7e65192bf04318985a7f95e462ccd66d.png" %} alt="">
                                        <div class="cover-challenge">
                                            <h1>Planting Trees</h1>
                                        </div>
                                        <div class="point-challenge">
                                            <img src={% static"img/Gold_Seal_with_Ribbon_PNG_Clipart_Image.png" %} alt="">
                                            <p>
                                                250<img src={% static "media/aaa17.png" %} alt="">
                                            </p>
                                        </div>
                                        <div class="info-challenge">
                                            <img src={% static "media/aaa18.png" %} alt="">
    
                                            <div class="round-info">
                                                <div class="all-info">
                                                    <h3>Planting Trees</h3>
                                                    <p>
                                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente, in! Sit nisi
                                                        illo, sapiente magni totam rerum voluptatum unde a esse quia ducimus dolores
                                                        asperiores repudiandae velit minima atque tempore.</p>
    
                                                </div>
                                            </div>
                                        </div>
    
                                    </a>
    
                                </div>
                                <div class="single-challenge">
                                    <a href="#">
                                        <img src={% static"img/7e65192bf04318985a7f95e462ccd66d.png" %} alt="">
                                        <div class="cover-challenge">
                                            <h1>Planting Trees</h1>
                                        </div>
                                        <div class="point-challenge">
                                            <img src={% static "img/Gold_Seal_with_Ribbon_PNG_Clipart_Image.png" %} alt="">
                                            <p>
                                                250<img src={% static "media/aaa17.png" %} alt="">
                                            </p>
                                        </div>
                                        <div class="info-challenge">
                                            <img src={% static "media/aaa18.png" %} alt="">
    
                                            <div class="round-info">
                                                <div class="all-info">
                                                    <h3>Planting Trees</h3>
                                                    <p>
                                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente, in! Sit nisi
                                                        illo, sapiente magni totam rerum voluptatum unde a esse quia ducimus dolores
                                                        asperiores repudiandae velit minima atque tempore.</p>
    
                                                </div>
                                            </div>
                                        </div>
    
                                    </a>
    
                                </div>
                            </div>
                            <div class="vertical">
                                <div class="single-challenge">
                                    <a href="#">
                                        <img src={% static "img/7e65192bf04318985a7f95e462ccd66d.png" %} alt="">
                                        <div class="cover-challenge">
                                            <h1>Planting Trees</h1>
                                        </div>
                                        <div class="point-challenge">
                                            <img src={% static "img/Gold_Seal_with_Ribbon_PNG_Clipart_Image.png" %} alt="">
                                            <p>
                                                250<img src={% static "media/aaa17.png" %} alt="">
                                            </p>
                                        </div>
                                        <div class="info-challenge">
                                            <img <img src={% static "media/aaa18.png" %} alt="">
    
                                            <div class="round-info">
                                                <div class="all-info">
                                                    <h3>Planting Trees</h3>
                                                    <p>
                                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente, in! Sit nisi
                                                        illo, sapiente magni totam rerum voluptatum unde a esse quia ducimus dolores
                                                        asperiores repudiandae velit minima atque tempore.</p>
    
                                                </div>
                                            </div>
                                        </div>
    
                                    </a>
    
                                </div>
                                <div class="single-challenge">
                                    <a href="#">
                                        <img src={% static"img/7e65192bf04318985a7f95e462ccd66d.png" %} alt="">
                                        <div class="cover-challenge">
                                            <h1>Planting Trees</h1>
                                        </div>
                                        <div class="point-challenge">
                                            <img src={% static "img/Gold_Seal_with_Ribbon_PNG_Clipart_Image.png" %}alt="">
                                            <p>
                                                250<img src={% static "media/aaa17.png" %} alt="">
                                            </p>
                                        </div>
                                        <div class="info-challenge">
                                            <img src={% static "media/aaa18.png" %} alt="">
    
                                            <div class="round-info">
                                                <div class="all-info">
                                                    <h3>Planting Trees</h3>
                                                    <p>
                                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente, in! Sit nisi
                                                        illo, sapiente magni totam rerum voluptatum unde a esse quia ducimus dolores
                                                        asperiores repudiandae velit minima atque tempore.</p>
    
                                                </div>
                                            </div>
                                        </div>
    
                                    </a>
    
                                </div>
                                <div class="single-challenge">
                                    <a href="#">
                                        <img src={% static "img/7e65192bf04318985a7f95e462ccd66d.png" %} alt="">
                                        <div class="cover-challenge">
                                            <h1>Planting Trees</h1>
                                        </div>
                                        <div class="point-challenge">
                                            <img src={% static "img/Gold_Seal_with_Ribbon_PNG_Clipart_Image.png" %} alt="">
                                            <p>
                                                250<img src={% static "media/aaa17.png" %} alt="">
                                            </p>
                                        </div>
                                        <div class="info-challenge">
                                        <img src={% static "media/aaa18.png" %} alt="">
    
                                            <div class="round-info">
                                                <div class="all-info">
                                                    <h3>Planting Trees</h3>
                                                    <p>
                                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente, in! Sit nisi
                                                        illo, sapiente magni totam rerum voluptatum unde a esse quia ducimus dolores
                                                        asperiores repudiandae velit minima atque tempore.</p>
    
                                                </div>
                                            </div>
                                        </div>
    
                                    </a>
    
                                </div>
    
                                <div class="single-challenge">
                                    <a href="#">
                                        <img src={% static "img/7e65192bf04318985a7f95e462ccd66d.png" %}alt="">
                                        <div class="cover-challenge">
                                            <h1>Planting Trees</h1>
                                        </div>
                                        <div class="point-challenge">
                                            <img src={% static "img/Gold_Seal_with_Ribbon_PNG_Clipart_Image.png" %} alt="">
                                            <p>
                                                250<img src={% static "media/aaa17.png" %} alt="">
                                            </p>
                                        </div>
                                        <div class="info-challenge">
                                        <img src={% static "media/aaa18.png" %} alt="">
    
                                            <div class="round-info">
                                                <div class="all-info">
                                                    <h3>Planting Trees</h3>
                                                    <p>
                                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente, in! Sit nisi
                                                        illo, sapiente magni totam rerum voluptatum unde a esse quia ducimus dolores
                                                        asperiores repudiandae velit minima atque tempore.</p>
    
                                                </div>
                                            </div>
                                        </div>
    
                                    </a>
    
                                </div>
                                <div class="single-challenge">
                                    <a href="#">
                                        <img src={% static "img/7e65192bf04318985a7f95e462ccd66d.png" %} alt="">
                                        <div class="cover-challenge">
                                            <h1>Planting Trees</h1>
                                        </div>
                                        <div class="point-challenge">
                                            <img src={% static "img/Gold_Seal_with_Ribbon_PNG_Clipart_Image.png" %} alt="">
                                            <p>
                                                250<img src={% static "media/aaa17.png" %} alt="">
                                            </p>
                                        </div>
                                        <div class="info-challenge">
                                        <img src={% static "media/aaa18.png" %} alt="">
    
                                            <div class="round-info">
                                                <div class="all-info">
                                                    <h3>Planting Trees</h3>
                                                    <p>
                                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente, in! Sit nisi
                                                        illo, sapiente magni totam rerum voluptatum unde a esse quia ducimus dolores
                                                        asperiores repudiandae velit minima atque tempore.</p>
    
                                                </div>
                                            </div>
                                        </div>
    
                                    </a>
    
                                </div>
                            </div>
                           
                            <div class="vertical">
                                <div class="single-challenge">
                                    <a href="#">
                                        <img src={% static "img/7e65192bf04318985a7f95e462ccd66d.png" %} alt="">
                                        <div class="cover-challenge">
                                            <h1>Planting Trees</h1>
                                        </div>
                                        <div class="point-challenge">
                                            <img src={% static "img/Gold_Seal_with_Ribbon_PNG_Clipart_Image.png" %} alt="">
                                            <p>
                                                250<img src={% static "media/aaa17.png" %} alt="">
                                            </p>
                                        </div>
                                        <div class="info-challenge">
                                            <img src={% static "media/aaa18.png" %} alt="">
    
                                            <div class="round-info">
                                                <div class="all-info">
                                                    <h3>Planting Trees</h3>
                                                    <p>
                                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente, in! Sit nisi
                                                        illo, sapiente magni totam rerum voluptatum unde a esse quia ducimus dolores
                                                        asperiores repudiandae velit minima atque tempore.</p>
    
                                                </div>
                                            </div>
                                        </div>
    
                                    </a>
    
                                </div>
                                <div class="single-challenge">
                                    <a href="#">
                                        <img src={% static "img/7e65192bf04318985a7f95e462ccd66d.png" %} alt="">
                                        <div class="cover-challenge">
                                            <h1>Planting Trees</h1>
                                        </div>
                                        <div class="point-challenge">
                                            <img src={% static "img/Gold_Seal_with_Ribbon_PNG_Clipart_Image.png" %} alt="">
                                            <p>
                                                250<img src={% static "media/aaa17.png" %} alt="">
                                            </p>
                                        </div>
                                        <div class="info-challenge">
                                            <img src={% static "media/aaa18.png" %} alt="">
    
                                            <div class="round-info">
                                                <div class="all-info">
                                                    <h3>Planting Trees</h3>
                                                    <p>
                                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente, in! Sit nisi
                                                        illo, sapiente magni totam rerum voluptatum unde a esse quia ducimus dolores
                                                        asperiores repudiandae velit minima atque tempore.</p>
    
                                                </div>
                                            </div>
                                        </div>
    
                                    </a>
    
                                </div>
                                <div class="single-challenge">
                                    <a href="#">
                                        <img src={% static "img/7e65192bf04318985a7f95e462ccd66d.png" %} alt="">
                                        <div class="cover-challenge">
                                            <h1>Planting Trees</h1>
                                        </div>
                                        <div class="point-challenge">
                                            <img src={% static "img/Gold_Seal_with_Ribbon_PNG_Clipart_Image.png" %} alt="">
                                            <p>
                                                250<img src={% static "media/aaa17.png" %} alt="">
                                            </p>
                                        </div>
                                        <div class="info-challenge">
                                            <img src={% static "media/aaa18.png" %} alt="">
    
                                            <div class="round-info">
                                                <div class="all-info">
                                                    <h3>Planting Trees</h3>
                                                    <p>
                                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente, in! Sit nisi
                                                        illo, sapiente magni totam rerum voluptatum unde a esse quia ducimus dolores
                                                        asperiores repudiandae velit minima atque tempore.</p>
    
                                                </div>
                                            </div>
                                        </div>
    
                                    </a>
    
                                </div>
    
                                <div class="single-challenge">
                                    <a href="#">
                                        <img src={% static "img/7e65192bf04318985a7f95e462ccd66d.png" %}  alt="">
                                        <div class="cover-challenge">
                                            <h1>Planting Trees</h1>
                                        </div>
                                        <div class="point-challenge">
                                            <img src={% static "img/Gold_Seal_with_Ribbon_PNG_Clipart_Image.png" %} alt="">
                                            <p>
                                                250<img src={% static "media/aaa17.png" %} alt="">
                                            </p>
                                        </div>
                                        <div class="info-challenge">
                                        <img src={% static "media/aaa18.png" %} alt="">
    
                                            <div class="round-info">
                                                <div class="all-info">
                                                    <h3>Planting Trees</h3>
                                                    <p>
                                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente, in! Sit nisi
                                                        illo, sapiente magni totam rerum voluptatum unde a esse quia ducimus dolores
                                                        asperiores repudiandae velit minima atque tempore.</p>
    
                                                </div>
                                            </div>
                                        </div>
    
                                    </a>
    
                                </div>
                                <div class="single-challenge">
                                    <a href="#">
                                        <img src={% static "img/7e65192bf04318985a7f95e462ccd66d.png" %} alt="">
                                        <div class="cover-challenge">
                                            <h1>Planting Trees</h1>
                                        </div>
                                        <div class="point-challenge">
                                            <img src={% static "img/Gold_Seal_with_Ribbon_PNG_Clipart_Image.png" %} alt="">
                                            <p>
                                                250<img src={% static "media/aaa17.png" %} alt="">
                                            </p>
                                        </div>
                                        <div class="info-challenge">
                                            <img src={% static "media/aaa18.png" %} alt="">
    
                                            <div class="round-info">
                                                <div class="all-info">
                                                    <h3>Planting Trees</h3>
                                                    <p>
                                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente, in! Sit nisi
                                                        illo, sapiente magni totam rerum voluptatum unde a esse quia ducimus dolores
                                                        asperiores repudiandae velit minima atque tempore.</p>
    
                                                </div>
                                            </div>
                                        </div>
    
                                    </a>
    
                                </div>
                            </div>
                        
                        </div>
                   


                    </div>
                </div>
            </div>

        </section>

    
        <script src="Vendors/Jquery/jquery-3.5.1.min.js"></script>
        <script src="Vendors/Slick/slick.js"></script>
        <script src="Js/Challenge.js"></script>
    </body>
</html>