<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="quizstyle.css">
        <link rel="stylesheet" href="css/Vendors/bootstrap.css">
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
            integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
            crossorigin="anonymous">
        <title>Document</title>
    </head>

    <body>
        <div class="top-quiz">
            <div class="back-top"></div>
            <h1>Taking Quizzes
            </h1>
        </div>
        <section>
            <div class="all-single-quiz">
                <div class="top-all">
                    <h1>Answer Questions and Collect Points</h1>
                </div>
                <div class="all-bot-questions">
                    <div class="container">
                        <div  class="row" style="display: flex; flex-direction: row-reverse;" >
                            <div class="col-12 col-lg-2 col-md-3">
                            
                                <div class="all-time">
                                    <div class="question-count">
                                        <i class="fas fa-question-circle"></i>
                                        <p>5 Questions</p>
                                    </div>
                                    <div class="point-count">
                                        <i class="fas fa-star-half-alt"></i>
                                        <p>50 Points</p>
                                    </div>
                                    <div class="time ">
                                        <i class="fas fa-stopwatch"></i>
                                        <p>14:49</p>
                                    </div>
                            
                                </div>
                            
                            </div>
                            <div class="col-12 col-lg-10 col-md-9">
                                <div class="all-questions">
                                    <div class="single-question">
                                        <div class="question-main">
                                            <h4>Question 1
                                                <span>(10<i class="fas fa-star-half-alt"></i>)</span>
                                            </h4>
                                            <p>&nbsp; Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
                                                obcaecati culpa ducimus quasi! Nobis quaerat minus magnam libero, reprehenderit
                                                dolor rem soluta nisi deleniti commodi est a quibusdam, illo minima?</p>
                                        </div>
                                        <div class="variants">
                                            <div class="variantA  align-items-center  d-flex">
                                                <input type="radio">
                                                <p>Lorem ipsum dolor sit amet.</p>
                                            </div>
                                            <div class="variantB   align-items-center  d-flex">
                                                <input type="radio">
                                                <p>Lorem ipsum dolor sit amet.</p>
                                            </div>
                                            <div class="variantC   align-items-center  d-flex">
                                                <input type="radio">
                                                <p>Lorem ipsum dolor sit amet.</p>
                                            </div>
                                            <div class="variantD  align-items-center   d-flex">
                                                <input type="radio">
                                                <p>Lorem ipsum dolor sit amet.</p>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                        <div class="single-question">
                                            <div class="question-main">
                                                <h4>Question 1
                                                    <span>(10<i class="fas fa-star-half-alt"></i>)</span>
                                                </h4>
                                                <p>&nbsp; Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
                                                    obcaecati culpa ducimus quasi! Nobis quaerat minus magnam libero, reprehenderit
                                                    dolor rem soluta nisi deleniti commodi est a quibusdam, illo minima?</p>
                                            </div>
                                            <div class="variants">
                                                <div class="variantA  align-items-center  d-flex">
                                                    <input type="radio">
                                                    <p>Lorem ipsum dolor sit amet.</p>
                                                </div>
                                                <div class="variantB   align-items-center  d-flex">
                                                    <input type="radio">
                                                    <p>Lorem ipsum dolor sit amet.</p>
                                                </div>
                                                <div class="variantC   align-items-center  d-flex">
                                                    <input type="radio">
                                                    <p>Lorem ipsum dolor sit amet.</p>
                                                </div>
                                                <div class="variantD  align-items-center   d-flex">
                                                    <input type="radio">
                                                    <p>Lorem ipsum dolor sit amet.</p>
                                                </div>
                                            </div>
                                            <hr>
                                        </div>
                                            <div class="single-question">
                                                <div class="question-main">
                                                    <h4>Question 1
                                                        <span>(10<i class="fas fa-star-half-alt"></i>)</span>
                                                    </h4>
                                                    <p>&nbsp; Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
                                                        obcaecati culpa ducimus quasi! Nobis quaerat minus magnam libero, reprehenderit
                                                        dolor rem soluta nisi deleniti commodi est a quibusdam, illo minima?</p>
                                                </div>
                                                <div class="variants">
                                                    <div class="variantA  align-items-center  d-flex">
                                                        <input type="radio">
                                                        <p>Lorem ipsum dolor sit amet.</p>
                                                    </div>
                                                    <div class="variantB   align-items-center  d-flex">
                                                        <input type="radio">
                                                        <p>Lorem ipsum dolor sit amet.</p>
                                                    </div>
                                                    <div class="variantC   align-items-center  d-flex">
                                                        <input type="radio">
                                                        <p>Lorem ipsum dolor sit amet.</p>
                                                    </div>
                                                    <div class="variantD  align-items-center   d-flex">
                                                        <input type="radio">
                                                        <p>Lorem ipsum dolor sit amet.</p>
                                                    </div>
                                                </div>
                                                <hr>
                                            </div>
                                                <div class="single-question">
                                                    <div class="question-main">
                                                        <h4>Question 1
                                                            <span>(10<i class="fas fa-star-half-alt"></i>)</span>
                                                        </h4>
                                                        <p>&nbsp; Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
                                                            obcaecati culpa ducimus quasi! Nobis quaerat minus magnam libero, reprehenderit
                                                            dolor rem soluta nisi deleniti commodi est a quibusdam, illo minima?</p>
                                                    </div>
                                                    <div class="variants">
                                                        <div class="variantA  align-items-center  d-flex">
                                                            <input type="radio">
                                                            <p>Lorem ipsum dolor sit amet.</p>
                                                        </div>
                                                        <div class="variantB   align-items-center  d-flex">
                                                            <input type="radio">
                                                            <p>Lorem ipsum dolor sit amet.</p>
                                                        </div>
                                                        <div class="variantC   align-items-center  d-flex">
                                                            <input type="radio">
                                                            <p>Lorem ipsum dolor sit amet.</p>
                                                        </div>
                                                        <div class="variantD  align-items-center   d-flex">
                                                            <input type="radio">
                                                            <p>Lorem ipsum dolor sit amet.</p>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                </div>
                                                    <div class="single-question">
                                                        <div class="question-main">
                                                            <h4>Question 1
                                                                <span>(10<i class="fas fa-star-half-alt"></i>)</span>
                                                            </h4>
                                                            <p>&nbsp; Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
                                                                obcaecati culpa ducimus quasi! Nobis quaerat minus magnam libero, reprehenderit
                                                                dolor rem soluta nisi deleniti commodi est a quibusdam, illo minima?</p>
                                                        </div>
                                                        <div class="variants">
                                                            <div class="variantA  align-items-center  d-flex">
                                                                <input type="radio">
                                                                <p>Lorem ipsum dolor sit amet.</p>
                                                            </div>
                                                            <div class="variantB   align-items-center  d-flex">
                                                                <input type="radio">
                                                                <p>Lorem ipsum dolor sit amet.</p>
                                                            </div>
                                                            <div class="variantC   align-items-center  d-flex">
                                                                <input type="radio">
                                                                <p>Lorem ipsum dolor sit amet.</p>
                                                            </div>
                                                            <div class="variantD  align-items-center   d-flex">
                                                                <input type="radio">
                                                                <p>Lorem ipsum dolor sit amet.</p>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                    </div>
                                 

                                </div>
                            </div>
                        
                        </div>
                    </div>
                    <div class="but-class">
                    <button class="sub-but">Submit</button>

                    </div>
                </div>

            </div>
        </section>

    </body>

</html>